:root {
  --color-primary: #ff9500;
  --color-primary-hover: #e98800;
  --color-bg: #f7f7f8;
  --color-bg2: #fcfcfd;
  --color-bg3: #fff9f0;
  --color-white: #ffffff;
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-balck: #000000;
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-lightyellow: #fff4e5;
  --color-gray: #1a1a1a;
  --color-gray2: #262626;
  --color-text: #4c4c4d;
  --color-text2: #59595a;
  --color-text3: #333333;
  --color-text4: #656567;
  --color-border: #f1f1f3;
  --color-border2: #ffeacc;
  --font-primary: "Be Vietnam Pro", sans-serif;
  --transition-duration: 0.3s;
  --transition-timing-function: ease-in-out;
  --border-radius-12: 12px;
  --border-radius-8: 8px;
  --border-radius-6: 6px;
  --border: 1px solid var(--color-border);
  --border-primary: 1px solid var(--color-border2);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-primary);
  color: var(--color-text);
  background: var(--color-bg);
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--font-primary);
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 10px;
  color: var(--color-gray2);
}

h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 38px;
  margin-bottom: 6px;
}

h3,
.h3 {
  font-size: 24px;
  margin-bottom: 14px;
}

h4,
.h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

h5,
.h5 {
  font-size: 20px;
}

h6,
.h6 {
  font-size: 16px;
}

p {
  margin: 0 0 24px;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  text-decoration: none;
  transition-property: color, opacity, background, border, visibility,
    box-shadow, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

button {
  cursor: pointer;
  transition-property: color, opacity, background, border, visibility,
    box-shadow, width, left, right;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accessibility {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.accessibility:focus {
  position: static;
  width: auto;
  height: auto;
}

.container {
  max-width: 1657px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.container--lg {
  max-width: 1900px;
}

.btn {
  color: var(--color-white);
  background: var(--color-primary);
  font-size: 18px;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  padding: 18px 24px;
  border-radius: var(--border-radius-8);
}

.btn:hover {
  background: var(--color-primary-hover);
}

.btn:focus-visible {
  outline: 2px solid var(--color-primary);
}

.btn--light {
  font-weight: 500;
  color: var(--color-gray2);
  background: var(--color-white);
  border: var(--border);
}

.btn--light:hover {
  color: var(--color-primary);
  background: var(--color-white);
  border-color: var(--color-primary);
}

.btn--large {
  padding: 18px 34px;
}

.btn--small {
  padding: 14px 34px;
}

.btn--gray {
  background: var(--color-bg);
  color: var(--color-gray2);
  border: var(--border);
}

.btn--gray:hover {
  background: var(--color-gray2);
  color: var(--color-white);
  border-color: var(--color-gray2);
}

.btn--full {
  display: flex;
  text-align: center;
  justify-content: center;
}

button:focus-visible {
  outline: 2px solid var(--color-primary);
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.notice-block {
  padding: 20px 30px;
  text-align: center;
}

.notice__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  color: var(--color-white);
  padding: 14px;
  border-radius: var(--border-radius-8);
}

.notice__link .icon-right-arrow {
  font-size: 14px;
  line-height: 1;
  padding-left: 29px;
  transition-property: color, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.notice__link:hover {
  background: var(--color-primary-hover);
}

.notice__link:hover .icon-right-arrow {
  transform: translateX(10px);
}

.notice__img {
  width: 20px;
  height: 20px;
  margin: 0 3px;
}

.notice__img img {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: contain;
}

.header {
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 1px;
  background: var(--color-border);
}

.header__holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0 24px;
}

.header__left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
}

.header__action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 40px;
  margin: 0 -15px;
}

.header__action li {
  padding: 0 15px;
}

.header__action a {
  color: var(--color-gray2);
}

.header__action a:hover {
  color: var(--color-primary);
}

.header__action .btn {
  color: var(--color-white);
}

.header__action .btn:hover {
  color: var(--color-white);
}

.nav__holder {
  padding-left: 50px;
}

.header__nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -13px;
}

.header__nav li {
  padding: 0 13px;
}

.header__nav li a {
  font-weight: 500;
  color: var(--color-gray2);
  border-radius: var(--border-radius-8);
}

.header__nav li a:hover {
  color: var(--color-primary);
}

.header__nav li.active a {
  padding: 14px 24px;
  background: var(--color-border);
}

.title {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 13px 30px 13px 20px;
  border-radius: var(--border-radius-8);
  border: var(--border);
  background: var(--color-white);
  color: var(--color-gray);
}

.title__color {
  padding-right: 12px;
  color: var(--color-primary);
}

.title .icon-decor1 {
  position: absolute;
  left: -24px;
  top: -31px;
  font-size: 44px;
}

.title .icon-light {
  font-size: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-6);
  background: var(--color-lightyellow);
  width: 62px;
  height: 62px;
  margin-right: 10px;
}

.btn__group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn__group li + li {
  padding-left: 13px;
}

.btn__group .btn {
  font-weight: 600;
}

.btn__group .btn--light {
  font-weight: 500;
}

.banner {
  padding: 100px 0;
  text-align: center;
}

.banner .title {
  margin-bottom: 20px;
}

.banner__title {
  margin-bottom: 10px;
  font-weight: 500;
}

.banner__text {
  margin-bottom: 59px;
  color: var(--color-gray2);
}

.brand-block {
  padding: 100px 0;
}

.brand__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius-12);
  padding: 29px;
}

.brand__item {
  width: 14.28%;
  border-right: var(--border);
}

.brand__item img {
  max-height: 34px;
}

.brand__item:last-child {
  border-right: 0;
}

.brand__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.video-block {
  padding: 100px 0 150px;
}

.video__thumb {
  border-radius: var(--border-radius-12);
  overflow: hidden;
  position: relative;
}

.video__opener {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  background: var(--color-black-20);
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 6px solid var(--color-white-30);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.video__opener:hover {
  background: var(--color-primary);
}

.headline {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 77px;
  color: var(--color-text2);
}

.headline__left {
  flex: 1;
  padding-right: 40px;
}

.headline__text {
  margin-bottom: -24px;
  font-weight: 300;
}

.headline__content {
  max-width: 1177px;
}

.headline__content h2 {
  font-size: 48px;
}

.headline--alt .headline__content {
  max-width: 1025px;
}

.benefit-block {
  padding: 100px 0;
}

.benefit__card {
  padding: 19px 50px 124px 50px;
  border-radius: var(--border-radius-12);
  border: var(--border);
  background: var(--color-white);
  height: 100%;
  position: relative;
}

.benefit__title {
  color: var(--color-text3);
  font-weight: 600;
  letter-spacing: -0.21px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.benefit__count {
  font-size: 80px;
  font-weight: 700;
  color: var(--color-gray2);
  margin-bottom: 19px;
  display: block;
  text-align: right;
}

.benefit__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 50px;
}

.benefit__text p:last-child {
  margin-bottom: 0;
}

.benefit__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.benefit__btn a {
  width: 74px;
  height: 74px;
  border-radius: var(--border-radius-8);
  border: var(--border);
  background: var(--color-bg2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  font-size: 16px;
}

.benefit__btn a:hover {
  border-color: var(--color-primary);
}

.benefit__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}

.benefit__item {
  padding: 0 10px 20px;
  width: 33.33%;
}

.course-block {
  padding: 100px 0;
}

.course-block--pp {
  padding: 100px 0 105px;
}

.course__card {
  height: 100%;
  padding: 49px;
  background: var(--color-white);
  border-radius: var(--border-radius-12);
  border: var(--border);
  display: flex;
  flex-direction: column;
}

.course__content {
  flex: 1;
}

.course__img {
  aspect-ratio: 683/380;
  border-radius: var(--border-radius-8);
  overflow: hidden;
  margin-bottom: 30px;
}

.course__img img {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.course__card:hover .course__img img {
  transform: scale(1.05);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 0 -5px -5px;
}

.tags li {
  padding: 0 5px 5px;
}

.tag {
  display: inline-block;
  padding: 8px 15px;
  border-radius: var(--border-radius-8);
  border: var(--border);
  color: var(--color-text);
}

.tag:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.course__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

.course__author {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  padding-left: 30px;
  color: var(--color-gray2);
}

.course__title a {
  color: var(--color-gray2);
}

.course__title a:hover {
  color: var(--color-primary);
}

.course__items {
  margin: 0 -15px -30px;
  display: flex;
  flex-wrap: wrap;
}

.course__item {
  width: 50%;
  padding: 0 15px 30px;
}

.course__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 27px;
}

.course__text p:last-child {
  margin-bottom: 0;
}

.testimonial-block {
  padding: 100px 0;
}

.testimonial-block .headline {
  margin-bottom: 79px;
}

.testimonial__card {
  background: var(--color-white);
  border-radius: var(--border-radius-12);
  border: var(--border);
}

.testimonial__card blockquote {
  margin: 0;
  padding: 49px;
}

.testimonial__info {
  background: var(--color-bg2);
  padding: 29px 49px;
  border-top: var(--border);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.testimonial__author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
}

.testimonial__img {
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius-8);
  overflow: hidden;
  margin-right: 15px;
}

.testimonial__img img {
  width: 100%;
  max-width: none;
  height: 100%;
  object-fit: cover;
}

.testimonial__name {
  font-weight: 600;
  color: var(--color-text3);
}

.testimonial__btn {
  padding-left: 40px;
}

.testimonial__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.testimonial__item {
  width: 50%;
  padding: 0 15px 30px;
}

.pricing-block {
  padding: 100px 0;
}

.pricing-block--pp {
  padding: 168px 0 150px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 13px;
  border-radius: 8px;
  background: var(--color-white);
}

.tabs a {
  color: var(--color-text);
  background: var(--color-white);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  padding: 14px 30px;
  border-radius: var(--border-radius-6);
}

.tabs a:hover {
  background: var(--color-border);
}

.tabs a.active {
  color: var(--color-white);
  background: var(--color-primary);
}

.tabs a.active:hover {
  background: var(--color-primary-hover);
}

.pricing__holder {
  padding: 80px;
  background: var(--color-white);
  border-radius: var(--border-radius-12);
}

.pricing__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.pricing__item {
  width: 50%;
  padding: 0 15px 30px;
}

.pricing__card {
  background: var(--color-bg2);
  padding: 50px 30px 30px;
  border: var(--border);
  border-radius: var(--border-radius-12);
}

.pricing__head {
  font-size: 22px;
  font-weight: 500;
  display: block;
  text-align: center;
  color: var(--color-gray2);
  background: var(--color-bg3);
  padding: 13px;
  border-radius: var(--border-radius-6);
  border: var(--border-primary);
}

.pricing__price {
  display: block;
  padding-top: 19px;
  padding-bottom: 18px;
  text-align: center;
  font-size: 80px;
  font-weight: 600;
}

.pricing__price sub {
  font-size: 20px;
  font-weight: 500;
  bottom: 16px;
  position: relative;
}

.pricing__price sub::before {
  content: "/";
  margin-right: 2px;
}

.pricing__title {
  text-align: center;
}

.pricing__top {
  background: var(--color-white);
  border-radius: 14px 14px 0 0;
  border: var(--border);
  padding: 40px 67px;
}

.pricing__btn .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 19px;
}

.pricing__list {
  margin-bottom: -20px;
}

.pricing__list li {
  padding: 14px 25px 14px 58px;
  border: var(--border);
  border-radius: var(--border-radius-8);
  margin-bottom: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 60px;
}

.pricing__list li::before {
  content: "\e90d";
  font-size: 12px;
  line-height: 1;
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  speak: never;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 14px;
  top: 14px;
  width: 32px;
  height: 32px;
  background: var(--color-lightyellow);
  border-radius: var(--border-radius-6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__list li.not-access::before {
  font-size: 11px;
  content: "\e900";
  background: var(--color-white);
  border: var(--border);
}

.tab-content {
  position: relative;
}

.tab__holder {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  transition-property: opacity, visibility, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.tab__holder.active {
  position: static;
  opacity: 1;
  visibility: visible;
  transform: none;
}

.faq-block {
  padding: 100px 0;
}

.faq-block--pp {
  padding: 0 0 142px;
}

.faq__holder {
  display: flex;
  flex-wrap: wrap;
  background: var(--color-white);
  padding: 100px 100px 96px 102px;
  border-radius: var(--border-radius-12);
}

.faq__content {
  padding: 50px 50px 49px;
  position: relative;
}

.faq__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  height: 1px;
  background: var(--color-border);
}

.faq__left {
  flex: 1;
  padding-right: 120px;
}

.faq__left h2 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 11px;
}

.faq__desc {
  font-weight: 300;
  margin-bottom: 49px;
}

.faq__desc p:last-child {
  margin-bottom: 0;
}

.faq__desc a {
  color: var(--color-text);
}

.faq__desc a:hover {
  color: var(--color-primary);
}

.faq__link a {
  font-weight: 500;
  display: block;
  position: relative;
  padding: 34px 30px;
  color: var(--color-text3);
  background: var(--color-bg);
  border: var(--border);
  border-radius: var(--border-radius-8);
}

.faq__link .icon-right-arrow {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 14px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.faq__link a:hover .icon-right-arrow {
  background: var(--color-text);
  color: var(--color-white);
}

.faq__right {
  width: 62.2%;
}

.faq__text p:last-child {
  margin-bottom: 0;
}

.faq__text {
  font-weight: 300;
  margin-bottom: 50px;
}

.faq__accordion {
  margin-bottom: -30px;
}

.ac {
  margin-bottom: 30px;
  border-radius: var(--border-radius-12);
  border: var(--border);
}

.ac-header {
  margin-bottom: 0;
}

.ac-panel {
  overflow: hidden;
}

.ac-trigger {
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--font-primary);
  font-weight: 500;
  min-height: 112px;
  text-align: left;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 27px 152px 29px 49px;
  color: var(--color-gray2);
  background: var(--color-white);
  border: 0;
  border-radius: var(--border-radius-12);
  transition: padding var(--transition-duration)
    var(--transition-timing-function);
}

.ac.is-active .ac-trigger {
  padding-top: 60px;
  padding-bottom: 34px;
}

.ac.is-active .ac-trigger .icon-plus {
  top: 50px;
}

.ac-trigger .icon-plus {
  font-size: 18px;
  position: absolute;
  right: 50px;
  top: 30px;
  width: 52px;
  height: 52px;
  border-radius: 8px;
  background: var(--color-lightyellow);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.ac-trigger .icon-plus:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.ac-trigger .icon-plus::before {
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.ac.is-active .ac-trigger .icon-plus::before {
  transform: rotate(45deg);
}

.footer {
  background: var(--color-white);
  padding-top: 100px;
}

.footer a:hover {
  color: var(--color-primary);
}

.footer__row {
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.footer__col {
  padding: 0 15px 30px;
  width: 17.2%;
}

.footer__col:first-child {
  flex: 1;
}

.footer__logo {
  margin-bottom: 40px;
}

.footer__title {
  font-weight: 600;
  margin-bottom: 14px;
}

.footer__contact li {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.footer__contact ul {
  margin-bottom: -20px;
}

.footer__contact a {
  color: var(--color-gray2);
}

.footer__contact .icon {
  font-size: 18px;
  margin-right: 3px;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer__nav li {
  padding-bottom: 8px;
}

.footer__nav ul {
  margin-bottom: -8px;
}

.footer__nav a {
  color: var(--color-text2);
}

.footer__social ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7px -14px;
}

.footer__social li {
  padding: 0 7px 14px;
}

.footer__social li a {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: var(--border-radius-8);
  border: var(--border);
  color: var(--color-text3);
  background: var(--color-bg);
}

.footer__social li a:hover {
  border-color: var(--color-primary);
  background: var(--color-primary);
  color: var(--color-white);
}

.copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-top: var(--border);
  color: var(--color-text4);
}

.copyright a {
  color: var(--color-text4);
}

.copyright a:hover {
  color: var(--color-primary);
}

address {
  font-style: normal;
}
